# Backend
fastapi==0.115.12
uvicorn[standard]==0.34.0
pydantic==2.11.3

# ML/ Data
transformers==4.40.0
torch==2.2.0
sentence-transformers
datasets==2.19.0
numpy
pandas
requests==2.31.0
pillow

openai
google-cloud-vision
