# Backend
fastapi==0.115.12
uvicorn[standard]==0.34.0
pydantic==2.11.3

# ML/ Data
--extra-index-url https://download.pytorch.org/whl/cpu
transformers==4.40.0
torch
sentence-transformers
datasets
numpy
pandas
requests
pillow

openai
google-cloud-vision
